name: Simple Reusable Test

on:
  workflow_call:
    inputs:
      message:
        required: true
        type: string

jobs:
  simple-job:
    runs-on: ubuntu-latest
    steps:
      - name: Echo Message
        run: echo "Message from reusable workflow: ${{ inputs.message }}"
